@charset "UTF-8";


body {
    font-family:"Sawarabi Gothic"!important;
    background-color: #F2F5C8!important;
    letter-spacing: 0.14em;
    line-height: 1.5;
}
h1 {
    color: rgb(255, 255, 255);
}
p {
    color: #454545;
}

.font-color{
    color:#EEEEEE;
}

.english {
    font-family:Cambria, Georgia, serif;
}
.rounded-circle {
    border-radius: 100%;
    object-fit:cover;
}


.item {
    justify-content: space-between;
}


/* 背景 */
.fixed-background {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.opa1 {
    background-color: rgba(232, 232, 166, 0.7);
}
.opa2 {
    background-color: rgba(242, 245, 200, 0.7);
}
.opa3 {
    background-color: rgba(193, 222, 174, 0.7);
}
.opa4 {
    background-color: rgba(33, 159, 148, 0.7);
}

.background-1 {
    background-image: url("../img/background-1.jpeg");
}

.background-2 {
    background-image: url("../img/background-2.jpg");
}

.background-3 {
    background-image: url("../img/background-3.jpg");
}

.background-4 {
    background-image: url("../img/background-4.jpg");
}

.background-5 {
    background-image: url("../img/background-5.jpg");
}

.background-6 {
    background-image: url("../img/background-6.jpg");
}

.background-color-1 {
    background-color: #E8E8A6;
}

.background-color-2 {
    background-color: #F2F5C8;
}

.background-color-3 {
    background-color: #C1DEAE;
}

.background-color-4 {
    background-color: #C1DEAE;
}

.background-color-5 {
    background-color: #219F94;
}

.background-color-6 {
    background-color: #219F94;
}
/* fontアニメーション用 */

.TextTyping span {
	display: none;
}

/* ボタン */
.btn--orange,
a.btn--orange {
  color: #ffffff;
  background-color: #6b8e23;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #556b2f;
}

a.btn--radius {
   border-radius: 100vh;
}

/* btnホバー */
.btn-hover:hover{
    background-color: rgb(215, 241, 255)!important;
}